body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c4c4c4;
    color: #fff;
    padding: 10px;
    text-align: center;
    position:fixed;
    width:100%;
    z-index: 1;
    border: 4px dashed whitesmoke;
    border-radius: 10px;
    top: 0;
    left: 0;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #ececec;
    text-decoration: none;
}

main {
    padding: 20px;
}

.hero {
    background-color:whitesmoke;
    padding:30px;
    text-align: center;
    position:absolute;
    left:30%;
    top:30%;
}

.about-content {
    max-width: 600px;
    margin: 0 auto;
    font-weight:900;
    

}

.portfolio-items {
    position:sticky;
    top:150px;
    text-align:center;
}


.portfolio-item {
    white-space: nowrap;
    max-width: 1200px;
    margin: 20px;
    text-decoration: none;
    background-color: #F4F4F4;
    padding:20px;
    display:inline-block;
    font-size:14px;
    margin: 0 auto;

    
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    letter-spacing: 3px;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius:20px;
}

.contact-form button {
    display: block;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor:crosshair;
    border-radius: 20px;
}

footer {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    /* position:relative;
    left:100px;  SHIFTS RIGHT 100px*/
}

/* pseudo */

nav li a:hover{
    background-color:#fff;
    border-radius: 5px;
}

